*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: poppins, sans-serif;
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgba(0, 0, 0.5));
}
.cadastro{
    padding: 15px;
    border-radius: 15px;
    width: 30%;
}
fieldset{
    border: 2px solid dodgerblue;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
}
legend{
    text-align: center;
    border-radius: 6px;
    color: rgb(11, 158, 243);
    font-weight: bold;
}
label, p{
    color: #247ba0;
    margin-bottom: 10px;
}
.campo{
    text-align: center;
    margin-top: 5px;
}
.campo input{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 13px;
    padding: 5px;
    width: 85%;
    height: 24px;
    letter-spacing: 2px;
} 
#data{
    border:none;
    padding: 6px;
    border-radius: 8px;
    outline: none;
    font-size: 13px;
    text-align: center;
    width: 41%;
}
.unidos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 15px;
    margin-bottom: 10px;
}
#sexo{
    padding-left: 30px;
}
.idade{
    padding-left: 12vw;
}
#idade{
    width: 50px;
    margin-top: 3px;
}
.estado{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    right: 1%;
}
#estado{
    outline: none;
    font-size: 14px;
    width: 60%;
    border-radius: 8px;
    margin-bottom: 0.5vw;
}
.linguagens{
    margin: 2%;
}
.botoes{
    padding: 10px 30px;
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: transparent;
    border: 2px solid #247ba0;
    color: #247ba0;
    text-transform: uppercase; 
    border-radius: 10px;
    cursor: pointer;
    transition: ease-in-out .25s;
}
.botoes:hover{
    background: rgba(1, 37, 155, 0.5);
}
